body{
    background-image: url("../images/background.jpg");
    background-color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.heading h1{
    color: #ffffff;
    font-size: 5rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    
}



.main-block h6{
    
        padding: 10px 0;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        margin: 0px;
        color: black;
        
}

.main-block {
    max-width: 490px; 
    min-height: 460px; 
    padding: 10px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb;
     
    }


    form {
    margin: 0 30px;
    }


    

      /* input[type=checkbox] {
    margin: 10px,0,10px,0;
    } */
     
    /*

    label#icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
    }

    label.radio {
    position: relative;
    display: inline-block;
    padding-top: 4px;
    margin-right: 20px;
    text-indent: 30px;
    overflow: visible;
    cursor: pointer;
    }

    label.radio:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1c87c9;
    }

    label.radio:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 8px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }

    input[type=radio]:checked + label:after {
    opacity: 1;
    } */

    input[type=text], input[type=password], input[type=date] {
    width: calc(100% - 57px);
    height: 36px;
    margin: 13px 0 0 -5px;
    padding-left: 10px; 
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
    }

    input[type=password] {
    margin-bottom: 15px;
    }

    #icon{
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #1c87c9;
    color: #fff;
    text-align: center;
    }

    .btn-block {
    margin-top: 70px;
    text-align: center;
    bottom: 0px;
    }

    button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #1c87c9; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    }

    button:hover {
    background: #26a9e0;
    }

    .cntr{
        margin-top: 30px;

    }

    .autocomplete {
        position: relative;
        /* display: inline-block; */
      }
    
    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
      }
      
      .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff; 
        border-bottom: 1px solid #d4d4d4; 
      }
      
      /*when hovering an item:*/
      .autocomplete-items div:hover {
        background-color: #e9e9e9; 
      }
      
      /*when navigating through the items using the arrow keys:*/
      .autocomplete-active {
        background-color: DodgerBlue !important; 
        color: #ffffff; 
      }
  